$xs: 300px;
$sm: 350px;
$ms: 400px;
$m: 450px;
$ml: 500px;
$mll: 640px;
$lg: 900px;
$xl: 1200px;
$xxl: 1400px;

$breakpoints:
  'xs' $xs,
  'sm' $sm,
  'ms' $ms,
  'm' $m,
  'ml' $ml,
  'mll' $mll,
  'lg' $lg,
  'xl' $xl,
  'xxl' $xxl;

@each $name, $size in $breakpoints {
  .hide-#{$name}-down {
    @media only screen and (max-width: $size) {
      display: none;
    }
  }

  .hide-#{$name}-up {
    @media only screen and (min-width: ($size + 1px)) {
      display: none;
    }
  }
}
