.card {
  @include card-background();
  position: relative;
  box-sizing: border-box;
  .title {
    text-align: start;
  }
  &.to-do {
    background: $blue-gradient-faded;
  }
  &.in-progress {
    background: $purple-subscription-gradient;
  }
  &.done {
    background: $success-faded;
  }
}
